.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em;
}

.title {
  font-family: Poppins;
  font-size: var(--font-normal);
  font-weight: 500;
  line-height: 1.6875em;
  color: #000000;
}
.inputCont {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 2.125em 0 1.5625em;
  }
  .inputCont {
    width: 29em !important;
  }
}
