.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 51px 14px 0;
  position: relative;
  overflow-x: hidden;
}
.heading {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 2.25em;
  margin-bottom: 2em;
}
.filterContainer {
  margin-bottom: 1.875em;
}
.groupsListEmailWrapper {
  width: 100%;
  overflow: scroll;
  height: 16.75em;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.groupsListEmailWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.groupsListEmailWrapper::-webkit-scrollbar {
  display: none;
}
.groupsListHeader {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  align-items: center;
  background: #ededed;
  padding: 0.625em 1em;
  width: 100%;
}

.sortFooter {
  position: absolute;
  bottom: 30px;
  right: 14px;
  left: 14px;
}

.groupList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50em;
}

@media screen and (min-width: 768px) {
  .groupsListEmailWrapper {
    height: 18.75em;
  }
}

@media screen and (min-width: 900px) {
  .groupList {
    width: 100%;
  }
}
