.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.title {
  font-family: Poppins;
  font-size: var(--font-normal);
  font-weight: 600;
  line-height: 36px;
  color: #000000;
}
.applicationFilterLeft {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  width: 100%;
}
.applicationFilterText {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.6875em;
  margin-bottom: 0.625em;
  text-align: center;
}

.goButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goButton {
  width: 100%;
  padding: 0.625em 2.8125em;
  text-align: center;
  background: var(--primary);
  border: none;
  border-radius: 3.125em;
  color: white;
  font-family: Poppins;
  font-size: var(--font-xs);
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0em;
  cursor: pointer;
  margin-left: 0;
  margin-top: 0.625em;
  white-space: nowrap;
}

.margin {
  margin-left: 0;
  margin-top: 0.625em;
}

.statusText {
  font-family: "Poppins" sans-serif;
  font-size: var(--font-xs);
  font-weight: 400;
  line-height: 24px;
  color: #0cab1c;
  margin-left: 14px;
}
.paradeBlock {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  background: #d9d9d9;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  color: #000000;
  margin-top: 15px;
}

.removeMarginLeft {
  margin-left: 0 !important;
}

@media screen and (min-width: 500px) {
  .goButton {
    max-width: 18.75em;
  }
}

@media screen and (min-width: 768px) {
  .applicationFilterLeft {
    flex-direction: row;
    align-items: center;
    margin-top: 1.875em;
  }
  .title {
    font-size: var(--font-lg);
  }
  .applicationFilterText {
    font-size: var(--font-normal);
    margin-bottom: 0;
  }
  .goButton {
    width: max-content !important;
    font-size: var(--font-sm);
    margin-left: 100px;
  }
  .margin {
    margin-top: 1.375em;
  }
  .statusText {
    font-size: var(--font-sm);
  }
}
