.container {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: max-content;
  height: 100vh;
  background: var(--primary);
  border-radius: 0px 1.875em 1.875em 0px;
  overflow: auto;
  width: 75%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.sidebarContentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.625em;
  margin-left: 2.1875em;
  padding: 1.125em;
  background-color: var(--primary);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 4px 2px -1px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  width: max-content;
  z-index: 10;
  position: absolute;
}

.close {
  position: fixed;
  top: 1.5625em;
  z-index: 4;
  right: 1.0625em;
  padding: 0.875em 1.125em;
  background-color: var(--primary);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 4px 2px -1px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  width: max-content;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  padding: 1.0625em 1.5625em 0 0.9375em;
}

.groupPresidentOptionContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 1.25em 0 1.875em;
}

.optionContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25em 0 1.875em;
}

.sidebarFooter {
  margin-bottom: 3.25em;
  padding-left: 3.1875em;
  margin-top: 1.375em;
  display: flex;
  align-items: center;
}

.logoutText {
  font-family: Inter;
  font-size: var(--font-xs);
  font-weight: 400;
  line-height: 1.9375em;
  margin-left: 1.25em;
  text-align: left;
  color: white;
}

.logoutText:hover {
  cursor: pointer;
}

@media screen and (min-width: 530px) {
  .logoutText {
    font-size: var(--font-lg);
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 45% !important;
  }
  .close {
    right: 20em;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 45% !important;
  }
  .close {
    right: 25em;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 100% !important;
    position: sticky;
  }

  .logoutText {
    font-size: var(--font-26);
  }
}
