.imgContainer {
  width: 100%;
  background-image: "../public/history.png";
  height: 70vh;
}
.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emailSendContainer {
  display: flex;
  flex-direction: column;
  padding: 0.625em;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 1em;
}
.doneImage {
  height: 2.5em;
  width: 2.5em;
  object-fit: contain;
}

.emailSentText {
  font-size: var(--font-lg);
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 0.9375em;
  text-align: center;
}

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}
.formContainer {
  width: 100%;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
}
.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formGroup {
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
  width: 100%;
  padding-right: 0.8em;
}
.formInput {
  width: 100%;
  padding: 0.875em;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.6875em;
  background: #ffffff;
  border-radius: 0.625em;
  border: black solid 0.1rem;
  margin-bottom: 1em;
  margin-top: 0.8em;
  outline: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6vh;
  padding-right: 0.8em;
  margin-top: 6vh;
  margin-bottom: 2em;
}
.checkboxContainer {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
}
.SubmitButton {
  background-color: var(--primary-100);
  color: var(--white-1);
  width: max-content;
  height: 100%;
  border: none;
  font-weight: 500;
  border-radius: 3.125em;
  padding: 1.725em 3.25em;
  font-size: var(--font-md);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mainHeading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-26);
  text-align: center;
}

.svgWrapper {
  width: 100%;
}

/* CheckBox CSS */

/* The container */
.checkInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: var(--font-normal);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkInput:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkInput input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkInput input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkInput .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 60%;
    padding-left: 4em;
    padding-right: 4em;
  }
  .mainHeading {
    font-size: var(--font-xl);
  }
  .formGroup {
    font-size: var(--font-normal);
  }
  .formInput {
    font-size: var(--font-normal);
    margin-bottom: 1.375em;
    margin-top: 0.8em;
  }
  .checkInput {
    font-size: var(--font-lg);
  }
  .checkmark {
    width: 25px;
    height: 25px;
  }

  .checkInput .checkmark:after {
    top: 8px;
    left: 8px;
    height: 9px;
    width: 9px;
  }

  .buttonContainer {
    margin-bottom: 4em;
  }
  .emailSendContainer {
    margin: 2.5em;
    padding: 1.25em;
  }
}

@media screen and (min-width: 1200px) {
  .mainHeading {
    font-size: var(--font-xxl);
  }
}
