.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.875em 0;
  position: relative;
  overflow-x: hidden;
}
.heading {
  width: 100%;
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 2.25em;
  margin-bottom: 2em;
}

.volunteersListEmailWrapper {
  width: 100%;
  overflow: scroll;
  height: 16.75em;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.volunteersListEmailWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.volunteersListEmailWrapper::-webkit-scrollbar {
  display: none;
}
.filterContainer {
  margin-bottom: 1.875em;
}
.volunteersListHeader {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  align-items: center;
  background: #ededed;
  padding: 0.625em 1em;
  width: 100%;
}
.mailCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375em 0.625em;
  width: 100%;
  border-bottom: 0.0625em solid #868686;
}

.mailsWrap {
  display: flex;
  align-items: center;
  width: 90%;
}

.smallCheckContainer {
  width: 10%;
}

.smallCheck {
  height: 1.25em;
  width: 1.25em;
  border: 0.0625em solid black;
  border-radius: 0.1875em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.9375em;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.6875em;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  width: 20%;
}

.email {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.6875em;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  width: 60%;
}
.groupName {
  width: 20% !important;
}
.groupEmail {
  width: 25% !important;
}
.menuCont {
  position: relative;
}
.menuImage:hover {
  cursor: pointer;
}

.sortFooter {
  position: absolute;
  bottom: 1.875em;
  right: 0.875em;
  left: 0.875em;
}
.volunteersList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50em;
}

@media screen and (min-width: 568px) {
  .container {
    padding-top: 3.1875em;
  }
  .heading {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .volunteersListEmailWrapper {
    height: 18.75em;
  }
  .groupEmail {
    width: 25% !important;
  }
  .name,
  .email {
    font-size: var(--font-normal);
  }
}

@media screen and (min-width: 900px) {
  .volunteersList {
    width: 100%;
  }
}
