.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  border: 0.125em solid #000000;
  border-radius: 0.9375em;
  width: 21.875em;
  height: 90%;
  overflow: scroll;
}

.closeImage {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125em;
  z-index: 4;
  height: 2.125em;
  text-align: end;
  top: 1.1875em;
  right: 1.875em;
  border-radius: 50%;
  background-color: var(--primary);
}
.closeImage:hover {
  cursor: pointer;
}

.formContainer {
  padding: 0.625em 1.5625em 1.25em 1.5625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formHeading {
  font-family: "Inter", sans-serif;
  font-size: var(--font-medium);
  font-weight: 600;
  line-height: 1.9375em;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin-top: 0.625em;
  margin-bottom: 0.9375em;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.125em;
}

.formInput {
  padding: 0.625em 0.5em;
  font-family: "Inter";
  width: 100%;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6875em;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;
  border: none;
  border-radius: 0.25em;
  background: #ffffff;
  box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 0.625em;
}

.registerButton {
  background-color: var(--primary);
  width: 100%;
  color: #eeeeee;
  padding: 0.25em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: var(--font-normal);
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 3.125em;
  border: none;
}

.registerButton:hover {
  cursor: pointer;
}

.bottomMargin {
  margin-bottom: 1.4375em;
}

.leftMargin {
  margin-left: 1.375em;
}

@media screen and (min-width: 768px) {
  .modalContainer {
    width: 450px;
  }
  .formContainer {
    padding: 1.5em 3.125em 4.25em 3.125em;
  }
  .formHeading {
    font-size: var(--font-medium);
    margin-top: 0.05em;
    margin-bottom: 0.25em;
  }
  .inputContainer {
    margin-bottom: 1.125em;
  }
  .formInput {
    font-size: var(--font-xs);
    padding: 0.5375em 0.625em;
  }
  .registerButton {
    font-size: var(--font-medium);
  }
}

@media screen and (min-width: 1200px) {
  .modalContainer {
    width: 37.5em;
  }
  .formContainer {
    padding: 1em 6.75em 4.25em 6.75em;
  }
  .formHeading {
    font-size: var(--font-26);
    margin-bottom: 1em;
  }
  .inputContainer {
    margin-bottom: 1em;
  }
  .formInput {
    font-size: var(--font-xs);
    padding: 0.7em 0.625em;
  }
  .registerButton {
    font-size: var(--font-lg);
  }
}

.error {
  color: red;
}
